---
---

@import "{{ site.theme }}";

#container {
  background: none;
}

header h1 {
  font-size: 60px;
  text-align: center;
}

.img-regular {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 3px #314;
}

#main_content {
  color: #1e1e1e;
  text-shadow: none;
}

#main_content ul .homepage li {
  list-style-type: none;
  list-style: none;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  color: #bf2e2e;
  text-align: center;
}

#main_content ul .homepage li .highlighted {
  background-color: yellow;
  border: 4px solid yellow;
  border-radius: 4px;
}

#main-content ul {
  padding-top: 1em;
  padding-bottom: 2em;
}

#main_content .homepage a {
  font-weight: bold;
}

.caption {
  display: block;
  font-size: 0.7em;
  color: #716767;
  font-style: italic;
  text-align: center;
  padding: 1em;
}

#homepage-kontak-text {
  display: block;
  text-align: center;
  font-size: 1.2em;
}

#homepage-kontak-link {
  display: block;
  text-align: center;
  font-size: 2.3em;
  margin-bottom: 2em;
  color: #aa180c;
  border: 2.5px solid #aa180c;
}
